*{
    padding: 0;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

body {
    background-color: rgb(57,57,57);
}

.container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container a {
    position: relative;
    width: 300px;
    height: 75px;
    margin: 10px 0;
    font-size: 25px;
    text-decoration: none;
    color: white;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}

.container a:hover {
    color: white;
    font-size: larger;
}

.container a:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: url(./images/1.png);
    background-size: cover;
    transform-origin: left;
    transition: 0.5s;
}

.container a:hover::before {
    width: 100%;
}

.container a span {
    z-index: 1;
}

.container a:nth-child(2)::before {
    background: url(./images/2.png);
    background-size: cover;
    border-radius: 100px;
}

.container a:nth-child(3)::before {
    background: url(./images/3.png);
    background-size: cover;
    border-radius: 100px;
}

.container a:nth-child(4)::before {
    background: url(./images/4.png);
    background-size: cover;
    border-radius: 100px;
}

.container a:nth-child(5)::before {
    background: url(./images/5.png);
    background-size: cover;
    border-radius: 100px;
}

.container a:nth-child(6)::before {
    background: url(./images/6.png);
    background-size: cover;
    border-radius: 100px;
}